{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
        <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
    {% endblock css_files %}

{% block title %}
    
    {% endblock title %}
{% block content %}
    
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <p>
                    <strong>{{course.title}}</strong> isimli kursu silmek istiyor musunuz?

                    <form action="{% url 'course_delete' course.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" >Evet</button>
                        <a href="{% url 'course_list' %}" class="btn btn-success">Hayır</a>

                    </form>

                </p>
            </div>
            
        </div>
    </div>
{% endblock content %}
{% block js_files %}
        <script src="{% static 'courses/js/script.js' %}"></script>
    {% endblock js_files %}