{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
        <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
    {% endblock css_files %}

{% block title %}
    Kurslar
    {% endblock title %}
{% block content %}
    
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <!--menu-->
                {% include 'courses/includes/_categories.html' %} 
            </div>
            <div class="col-9">
                {% include 'courses/includes/_slider.html' %}
                <!--content-->
                {% if courses|length == 0 %}
                <div class="alert alert-warning">Kurs Bulunamadı...</div>
                {% endif %}
            {% for course in courses %}
            {% include 'courses/includes/_course.html' %}
            {% endfor %}

            
            </div>
        </div>
    </div>
{% endblock content %}
{% block js_files %}
        <script src="{% static 'courses/js/script.js' %}"></script>
    {% endblock js_files %}